<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>


  <link href="https://fonts.googleapis.com/css2?family=Dongle&display=swap" rel="stylesheet">

  <link href="homew.css" rel="stylesheet">
</head>

<header>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1200px-International_Pok%C3%A9mon_logo.svg.png" alt="" width="100" height="40" class="d-inline-block align-text-top">
      </a>
    </div>
  </nav>
</header>


<body>
  
  <!--Chamando o nome do pokemon-->>
  <form action="" onsubmit="searchpokemon(event)">
    <input type="text" name="pokemon" autocomplete="off">
  </form>

  <!--Começo do trabalho com o objeto Pokemon-->>
{% extends 'base.html' %}
{% load static %}
{% block title %}Pokemon {% endblock %}
{% block content %}
{% for pokemon in pokemons %}


<!--Criando o card de acordo com o pokemon-->
<div poke-card class="poke-card">

  <div poke-nome>Pokedex</div>

  <div poke-img-container class ="img-container">
    <div poke-img class = "poke-img" src= "{{pokemon.urlimagem}}">
  </div>

  <div poke-id></div>  

  <div poke-types class="poker-types"></div>
  <div poke-status class="poke-status"></div>



  <div class="card-body">
    <h5 class="card-title">Nome: {{pokemon.name}}</h5>
  </div>  

  <ul class="list-group list-group-flush">
    <li class="pokemon-tipo">Tipo: {{pokemon.tipo}}</li>
    <li class="pokemon-habilidade">Habilidade: {{pokemon.habilidade}} </li>
  </ul>

</div>


{% endfor %}
{% endblock %}
</body>

