{% extends 'base.html' %}
{% load static %}
{% block title %} Detalhe Pokemon {% endblock %}
{% block content %}
{% include 'partials/navbar.html' %}


    <div class="card mb-3" 
      style="
      max-width:80vw;
      height:60vh;
      margin:8em;
      ">


          <div class="row g-0">
            <div class="col-md-4"  style="display:flex; justify-content:center; align-items:center; background-color: rgba(255, 255, 224, 0.1)">    

              <img 
                src="{{pokemon.urlimagem}}" 
                class="img-fluid rounded-start" 
                alt="..." 
                style="margin:10%; width:90%; height:90%;
                box-shadow:  0px 0px 2px 2px rgba(31, 58, 147, 0.31);"
              >

            </div>
            <div class="col-md-6">
              <div class="card-body">
                <h2 class="card-title">{{pokemon.name}}</h2>
                <lu class="card-text">
                  <li>Id: {{pokemon.id}}</li>
                  <li>Tipo: {{pokemon.tipo}}</li>
                  <li>Habilidade: {{pokemon.habilidade}}</li>
                </lu>
              </div>
            </div>
          </div>
    </div>

    {% endblock %}
